{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>{{ user_profile.username }}</h1>

    {% if user_profile != user %}
        {% if is_following %}
            <form method="post" action="{% url 'accounts:unfollow' username=user_profile.username %}">{% csrf_token %}
                <button type="submit">フォロー解除</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'accounts:follow' username=user_profile.username %}">{% csrf_token %}
                <button type="submit">フォロー</button>
            </form>
        {% endif %}
    {% endif %}

    <div>
        <a href="{% url 'accounts:following_list' username=user_profile.username %}">
            {{ following_count }} フォロー中
        </a>
        <a href="{% url 'accounts:follower_list' username=user_profile.username %}">
            {{ followers_count }} フォロワー
        </a>
    </div>

    {% for tweet in tweets %}
        {% include "tweets/tweet.html" %}
        <div>
            <a href="{{ tweet.get_absolute_url }}">
                ↑のツイートを見る
            </a>
        </div>
    {% empty %}
        <p>まだツイートはありません</p>
    {% endfor %}
{% endblock %}
